@use '../../variables' as *;

$custom-switch-theme: switch-theme(
    $thumb-on-color: #ffffff,
    $track-on-color: #41B8D2,
    $thumb-off-color:#41B8D2,
    $track-off-color: #ffffff,
    $border-color: #41B8D2,
    $border-hover-color:#41B8D2,
);

:host {
  display: flex;
  flex-flow: column nowrap;
  padding: 16px;

  // @include css-vars($custom-switch-theme);

  /* Using Theme Overrides to provide IE 11 support.
   * NOTE: Theming using this approach will greatly increase the size
   * of the output CSS. If you do not plan to target IE 11,
   * delete this section and use the `igx-css-vars` mixin as shown above.
  **/
  ::ng-deep {
      @include switch($custom-switch-theme);

      // this is for the dimensions of the background slider
       .igx-switch__composite{
        width: 3.25rem;
        height: 1.5rem;
        border-radius: 100px;
        padding-left: 3px;
       }
       // here you can adjust the circular switch and make it smaller if needed
       .igx-switch__composite-thumb {
        width: 15px;
        height: 15px;
        min-width: 10px;
        border-radius: 100px;
        display: inline-block;
        border-color: gray;
       }
       // this will control the lenght of the animation between states
       .igx-switch--checked .igx-switch__composite-thumb {
        transform: translateX(1.8rem);
       }
  }
}


