<div class="container-listagem-vagas">
  <div class="filter">
    <div class="circulo {{tipoUsuario!.tipo == 'empresa' ? 'expandir' : ''}}">
      <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzQiIHZpZXdCb3g9IjAgMCAzNiAzNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTM1IDFIMUwxNC42IDE3LjgxNzhWMjkuNDQ0NEwyMS40IDMzVjE3LjgxNzhMMzUgMVoiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=">
      <svg (click)="criarVaga()" *ngIf="tipoUsuario!.tipo == 'empresa'" width="55" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M31 15V44" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M17 30H46" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  </div>
  <ul>
    <li *ngFor="let vaga of listaVagas" class="{{verSwitchLabel(vaga) ? 'show' : 'disable'}}">
      <div *ngIf="tipoUsuario!.tipo == 'pessoa'" [id]="verSwitchLabel(vaga) ? 'candidatado' : ''" class="inscricao-label {{vaga.id}}">{{verSwitchLabel(vaga) ? "candidatado" : "não candidatado"}}</div>
      <h2>{{vaga.nome}}</h2>
      <p class="descricao">{{vaga.descricao}}</p>
      <div class="informacao-vaga">
        <p>Faixa Salarial: R$ {{vaga.salario}}</p>
        <div class="container-label-informacao">
          <div class="label tipo">{{vaga.area}}</div>
          <div class="label modalidade">{{vaga.modalidade}}</div>
          <div class="label senioridade">{{vaga.senioridade}}</div>
        </div>
        <igx-switch [checked]="verSwitchLabel(vaga)" id={{vaga.id}}  class={{vaga.idEmpresa}} (change)="mudarSituacaoInscricao($event);listarVagas()" [disabled]="tipoUsuario!.tipo == 'empresa' ? true : false"></igx-switch>
      </div>
    </li>
  </ul>
</div>
