
.container-login{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 30px;
  max-height: 900px;

}

.container-login .chamada-login{
  width:45%;
  height: 80%;
  background: #41B8D2;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-login .formulario-inscricao{
  width:55%;
  height: 80%;
  background: white;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2{
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  text-align: center;
}
.descricao{
  padding-bottom: 20px;
  padding-top: 20px;
}
p{
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  text-align: center;
}

.entrar{
  width: 225px;
  height: 60px;
  background: #41B8D2;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 100px;
  color: #FFFFFF;
  text-align: center;
}

.tipo-usuario{
  display: flex;
  width: 80%;
  height: 67px;
  margin:0 auto;
  justify-content: center;
  border-radius: 9999px;
  background: #F0F0F0;
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 475px;
  color: #41B8D2;
  cursor: pointer;
}

.tipo-usuario .pessoa{
  width: 50%;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tipo-usuario .empresa{
  width: 50%;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ativo{
  background:#41B8D2 ;
  color: white;
}

button{
  cursor: pointer;
}

.cadastrar{
  width: 225px;
  height: 60px;
  background: #41B8D2;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 100px;
  color: #FFFFFF;
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

